@font-face {
  font-family: "Lucida Grande", sans-serif;
}

/*
Animation de fade in de la fenêtre modale
 */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

$font-default-color: #FFF;
$body-default-color: #000;
$top-default-color: #656565FF;
$top-shadow-color: rgba(0,0,0,0.9);

body {
  font-family: "Lucida Grande", sans-serif;
  color: $font-default-color;
  background: $body-default-color;
  margin: 0;
  padding: 0;
}

/*
Titre et menu de navigation
 */
.top-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;

  padding-right: 200px;
  background: linear-gradient(180deg, $top-default-color, $top-shadow-color);
  &__title {
    font-size: 48px;
    font-style: normal;
    color: #e62b16;
    margin-left: 30px;
  }
  &__menu {
    &--home, &--drop-button {
      background-color: rgba(0, 0, 0, 0);
      color: $font-default-color;
      text-decoration: none;
      padding: 16px;
      font-size: 16px;
      border: none;
      margin-right: 100px;
    }
    &--dropdown-content {
      display: none;
      position: fixed;
      background-color: $top-default-color;
      min-width: 160px;
      z-index: 1;
    }
    &--dropdown-content a {
      color: $font-default-color;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    &--dropdown:hover &--dropdown-content {
      display: block;
    }
  }
}

/*
Contenu de la page : meilleur film et catégories
 */
.films {
  width: 60%;
  max-width: 1000px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  /*
  Meilleur film
   */
  &__best {
    &--container {
      display: flex;
      #best-infos {
        width: 40%;
        margin-left: 20px;
        #best-button {
          padding: 10px;
          border-radius: 10px;
          border: none;
        }
      }
      #best-image {
        margin-left: 70px;
        width: 30%;
        height: auto;
      }
    }
  }
  /*
  Catégories
   */
  &__category {
    &--title {
      padding-bottom: 25px;
    }
    &--carousel {
      display: flex;
      align-items: center;
      justify-content: center;
      .scroll-button {
        width: 30px;
        height: 30px;
        border: none;
        background-color: $font-default-color;
      }
      .left-button {
        order: 1;
        margin-right: 30px;
      }
      .right-button {
        order: 3;
        margin-left: 30px;
      }
      .image-container {
        order: 2;
        display: flex;
        overflow: scroll;
        scrollbar-width: none;
        padding-top: 30px;
        padding-bottom: 30px;
        .image {
          display: block;
          padding: 5px;
          flex: 1 1 0;
          transition: transform 500ms;
          max-width: 100%;
        }
      }
      .image-container::-webkit-scrollbar {
        display: none;
      }
      /*
      Agrandissement de l'image quand le pointeur est dessus
       */
      .image-container:focus-within .image,
      &--image-container:hover .image {
        transform: translateX((-10%));
      }
      .image-container .image:focus,
      .image-container .image:hover {
        transform: scale(1.2);
        z-index: 1;
      }
    }

  }
}

/*
Fenêtre modale
 */
.modal {
  display: none;
  z-index: 3;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: rgba(35, 35, 35, 0.7);
  animation: fadeIn 500ms;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    background-color: $body-default-color;
    color: $font-default-color;
    width: 70%;
    height: auto;
    max-width: 1000px;
    max-height: 650px;
    box-shadow: 0 12px 14px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    padding: 20px;
    box-sizing: border-box;
    &--close {
      align-self: flex-start;
      order: 3;
      width: 30px;
      height: 30px;
      border: none;
      background-color: $font-default-color;
    }
    &--image {
      height: 400px;
    }
    &--info {
      padding: 30px;
      max-height: 90%;
    }
  }
}
