@font-face {
  font-family: "Lucida Grande", sans-serif;
}

$font-default-color: #FFF;
$body_default-color: #000;
$top-default-color: #656565FF;
$top-shadow-color: rgba(0,0,0,0.9);

body {
  font-family: "Lucida Grande", sans-serif;
  color: $font-default-color;
  background: $body_default-color;
}

.top-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;

  padding-right: 200px;
  background: linear-gradient(180deg, $top-default-color, $top-shadow-color);
  &__title {
    font-size: 48px;
    font-style: normal;
    color: #e62b16;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 70px;
    &--drop-button, &--home {
      background-color: rgba(0, 0, 0, 0);
      color: $font-default-color;
      text-decoration: none;
      padding: 16px;
      font-size: 16px;
      border: none;
    }
    &--dropdown-content {
      display: none;
      position: absolute;
      background-color: $top-default-color;
      min-width: 160px;
      box-shadow: 0 8px 16px 0 $top-shadow-color;
      z-index: 1;
    }
    &--dropdown-content a {
      color: $font-default-color;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    &--dropdown:hover &--dropdown-content {
      display: block;
    }
  }
}

.films {
  max-width: 60%;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  &__best {
    &--container {
      display: flex;
      #best-infos {
        width: 40%;
        margin-left: 20px;
        #best-button {
          padding: 10px;
          border-radius: 10px;
          border: none;
        }
      }
      #best-image {
        margin-left: 70px;
        width: 40%;
        height: auto;
      }
    }
  }
  &__category {
    &--title {
      padding-bottom: 25px;
    }
    &--image-container {
      display: flex;
      .image {
        display: block;
        padding: 5px;
        flex: 1 1 0;
        transition: transform 500ms;
        max-width: 100%;
      }
    }
    &--image-container:focus-within .image,
    &--image-container:hover .image {
      transform: translateX((-10%));
    }
    &--image-container .image:focus,
    &--image-container .image:hover {
      transform: scale(1.2);
      z-index: 1;
    }
  }
}