@font-face {
    font-family: "Graphique W01 Regular";
    src: url("/font/ab83b275830b2d585ea027c47e3b237a.woff");
}

h1 {
    font-family: "Graphique W01 Regular" !important;
    font-size:48px;
    font-style:normal;
    color: red;
}
.top-menu {
    display: flex;
}

#best-image {
    width: 400px;
    height: auto;
}
.image-container {
    display: flex;
    margin-top: 50px;
}

.image {
    position: relative;
    display: block;
    padding: 30px;
    flex: 1 1 0;
    transition: transform 500ms;
}

.image-container:focus-within .image,
.image-container:hover .image {
    transform: translateX(-25%);
}

.image:focus ~ .image,
.image:hover ~ .image {
    transform: translateX(25%);
}

.image-container .image:focus,
.image-container .image:hover {
    transform: scale(1.5);
    z-index: 1;
}

.image img {
    display: block;
    max-width: 100%;
}

